#retired { width: 60%; height:80%; position: absolute;
    top:0; left:0; background-color:#F8F9F9; overflow: hidden; text-align:center;
}
.darkboximg { padding:5%; max-width: 1216px; max-height: 684px; }

body.blurred > *:not(#darkbox) {
  filter: blur(10px);
  background-position: inherit;
}

#darkbox {
    z-index: 9999;
    width: 100%; 
    height:100%;
    margin: 5rem auto;
    padding: 2.5rem 3rem;
    text-align: center;

    background: rgba(255, 255, 255, 0.35);

    border-radius: 0px;

    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.25);

    position: absolute;
    z-index: 1;
}
